<ion-view class="pane fond" view-title="Connexion">
    <ion-content ng-show="logged == false">
        <div class="logo text-center">
            <img src="img/logo.png" alt="La Machine à Miam">
        </div>
        <form ng-submit="login()">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label texte-white">Email</span>
                    <input class="texte-white" type="text" ng-model="userData.user_email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label texte-white">Mot de Passe</span>
                    <input class="texte-white" type="password" ng-model="userData.user_password"  placeholder="Mot de Passe">
                </label>
                <div class="padding">
                    <div class="row">
                        <button class="button button-block button-positive bleu-fonce boutton-radius col " type="submit">Connexion</button>
                        <button class="button button-block button-balanced vert boutton-radius col col-offset-10 " type="button" ng-click="viewRegister()">Inscription</button>
                    </div>
                </div>

            </div>
        </form>
    </ion-content>
</ion-view>