<ion-view view-title="Recettes">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-compose" menu-toggle="right" ng-click="showNewList(currentUser.user_id)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div class="list">
                <ion-item class="item item-avatar" ng-repeat="recette in recettes" href="#/app/recettes/{{recette.recette_id}}">
                    <img src="../img/cookie.png" alt="">
                    {{recette.recette_name}}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>





