<ion-view cache-view="false">

    <ion-nav-title>
        Nom{{recette.recette_name}}
    </ion-nav-title>

    <ion-content>
        <div class="list card">
            <div class="item">
                <h1>titre {{ recette.recette_name }}</h1>
                <p>date {{ recette.date_recette }}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/cookie.png">
                <p>temps de cuisson {{ recette.recette_time }}</p>
                <p>contenu {{ recette.recette_content }}</p>
            </div>
        </div>
    </ion-content>

</ion-view>





