<ion-view cache-view="false">

    <ion-nav-title>
        Nom{{recette.recette_id}}
    </ion-nav-title>

    <ion-content class="padding">
        <div class="list card">
            <div class="item">
                <h1>titre {{ recette.recette_name }}</h1>
                <p>date {{ recette.date_recette }}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="../img/cookie.png">
                <p>temps de preparation : {{ recette.recette_time }}</p>
                <p>Ingrédiants :</p>
                <p>{{ recette.recette_ingr }}</p>
                <p>contenu {{ recette.recette_content }}</p>
            </div>
        </div>
        <button class="button button-block button-assertive boutton-radius" type="button" ng-click="deleteRecette()">Supprimer la recette</button>
    </ion-content>


</ion-view>





