<ion-view class="fond" view-title="Inscription">
    <ion-content>
        <div class="logo text-center">
            <img src="img/logo.png" alt="">
        </div>
        <div class="title">
            <h3 class="text-center texte-white">Créer un compte</h3>
        </div>
        <ion-list>
            <form ng-submit="register()">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label texte-white">Pseudo</span>
                        <input class="texte-white" type="text" placeholder="Pseudo" ng-model="userData.user_pseudo">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label texte-white">Email</span>
                        <input class="texte-white" type="email" placeholder="Email" ng-model="userData.user_email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label texte-white">Mot de passe</span>
                        <input class="texte-white" type="password" placeholder="Mot de passe" ng-model="userData.user_password">
                    </label>
                    <div class="padding">
                        <button class="button button-block button-positive bleu-fonce boutton-radius" type="submit">S'inscrire</button>
                    </div>
                </div>
            </form>
        </ion-list>
    </ion-content>
</ion-view>